:host {
  flex: 1 0 auto;
  background-color: #e4e4e4;

  h1 {
    text-align: center;
  }
  .icon-container {
    display: flex;
    justify-content: space-around;
  }

  .icon-container > div {
    margin: 20px;
  }
}
